<% if users.exists? %>
  <% users.each do |user| %>
    <table class="table">
      <tbody>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= user.name %></td>
          <td><%= user.introduction %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <td>
            
          <div class="follow_list_<%= user.id %>">
            <%= render partial: "public/relationships/follow", locals: {user: user} %>
          </div>
          
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>