<% if users.exists? %>
  <% users.each do |user| %>
    <table class="table">
      <tbody>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= user.name %></td>
          <td><%= user.introduction %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <td>
          
          <div id="follow_list">
          <% if current_user.following?(user) %>
          <%= render "public/relationships/unfollow",user: user %>
          <% else %>
          <%= render "public/relationships/follow",user: user %>
          <% end %>
          </div>
          
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>