
      <table class="table">
        <tbody>
        <% @users.each do |user| %>
         <tr>
          <td>
           <%= image_tag user.get_profile_image(100,100) %>
           </td>
          <td><%= user.name %></td>
          <td>

          <div id="follow_list">
          <% if current_user.following?(user) %>
          <%= render "public/relationships/unfollow",user: user %>
          <% else %>
          <%= render "public/relationships/follow",user: user %>
          <% end %>
          </div>

          </td>
          <td><%= link_to "Show", public_user_path(user.id) %></td>
          <td><%= link_to "チャットする", public_user_chat_path(current_user.id, user.id) %></td>
         </tr>
         <% end %>
        </tbody>
      </table>