  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'public/posts/side', user: @finduser, post: @post %>
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
           <% @posts.each do |post| %>
            <tr>
              <td>
              <%= link_to public_user_path(post.user_id) do%>
                <%= image_tag post.get_post_image(100,100) %>
              <% end %>
              </td>
              <td><%= link_to post.title, public_post_path(post.id) %></td>
              <td><%= post.opinion %></td>
              <% if post.favorited_by?(current_user) %>
              <td>
                <%= link_to public_post_favorites_path(post), method: :delete do %>
                ♥<%= post.favorites.count %> いいね
                <% end %>
              </td>
              <% else %>
              <td>
                <%= link_to public_post_favorites_path(post), method: :post do %>
                ♡<%= post.favorites.count %> いいね
                <% end %>
              </td>
              <% end %>
            </tr>
           <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>